env/
.DS_Store
Docker/__pycache__

venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/
helpers/*
json_template/

lib/
bin/
pyvenv.cfg

.idea
4300_project

scraped.csv
TODOS.md
backend/experimental/sandbox.py