.full-body-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#google-c {
  color: #4285f4;
}

#google-s {
  color: #db4437;
}

#google-4 {
  color: #f4b400;
}

#google-3 {
  color: #4285f4;
}

#google-0-1 {
  color: #0f9d58;
}

#google-0-2 {
  color: #db4437;
}

.google-colors {
  display: flex;
  align-items: center;
  font-size: 48px;
  font-family: "Open Sans", sans-serif;
}

.google-colors h1 {
  margin-bottom: 0;
  margin-right: 3px;
}

.input-box {
  border-radius: 50px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 12px;
  width: 600px;
}

.input-box img {
  height: 20px;
  width: 20px;
}

.top-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}

.button-search {
  padding: 20px;
  text-align: center;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background-color: #3f72af;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.input-box input {
  width: 100%;
  margin-left: 10px;
  font-size: 16px;
  border: none;
  outline: 0;
}

#answer-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.episode-title {
  font-family: "Kanit", sans-serif;
}

.episode-desc {
  font-family: "Montserrat", sans-serif;
}

sl-card::part(base) {
  border: 2px solid #0056b3;
  font-family: "Montserrat", sans-serif;
  border-radius: 12px;
  background: #d2e5fa;
  width: 700px;
}

.card {
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  min-width: 700px;
  margin: 20px;
  padding: 10px;
  background: #ffffff;
}
.header {
  cursor: pointer;
  color: #2a5db0;
  font-size: 18px;
  user-select: none;
}
.info {
  color: #555;
  font-size: 14px;
  margin-top: 5px;
}
.info a {
  color: #2a5db0;
  text-decoration: none;
}
.info a:hover {
  text-decoration: underline;
}
.twitter-img {
  vertical-align: middle;
  width: 32px; /* or any other size */
  height: 32px;
  border-radius: 50%; /* makes the image circular */
  margin-right: 8px;
}
.flag {
  display: inline-block;
  width: 24px; /* Width of the flag */
  height: 16px; /* Height of the flag */
  background-size: cover;
  vertical-align: middle;
  margin-right: 11px;
  margin-left: 4px;
}
.gov-icon {
  display: inline-block;
  width: 24px; 
  height: 24px; 
  background-size: cover;
  vertical-align: middle;
  margin-right: 6px;
  margin-left: 9px;
}
.dropdown-content {
  display: none;
  padding: 10px;
  border-top: 1px solid #ccc;
}
.dropdown-content.show-more {
  display: block;
}
#loading {
  display: none;
}
