<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
    rel="stylesheet">

<body>
    <div class="full-body-container">
        <div class="top-text">
            <img src="{{ url_for('static', filename='images/logo.png') }}" style="width: 75%;"/>
            <div class="input-box" onclick="sendFocus()">
                <img src="{{ url_for('static', filename='images/mag.png') }}" />
                <input placeholder="Search for a Politician (based on political view)" id="filter-text-val">
            </div>
           
        </div>
        <div class="button-search">
            <button type="button" class="btn" onclick="poliSearch();">Search</button>
        </div>
        <div id="answer-box">

        </div>
    </div>

    <script>

        function answerBoxTemplate(title, titleDesc, rating) {
            return `<div class=''>
                <h3 class='episode-title'>${title}</h3>
                <p class='episode-desc'>Similarity Score: ${titleDesc}</p>
                <p class='episode-rating'>Matched Tweets: ${rating}</p>
            </div>`
        }

        function sendFocus() {
            document.getElementById('filter-text-val').focus()
        }

        function filterText() {
            document.getElementById("answer-box").innerHTML = ""
            console.log(document.getElementById("filter-text-val").value)
            console.log("HELLO??")
            fetch("/episodes?" + new URLSearchParams({ title: document.getElementById("filter-text-val").value }).toString())
                .then((response) => response.json())
                .then((data) => data.forEach(row => {

                    let tempDiv = document.createElement("div")
                    tempDiv.innerHTML = answerBoxTemplate(row.title, row.descr, row.imdb_rating)
                    document.getElementById("answer-box").appendChild(tempDiv)
                }));
        }

        function poliSearch() {
            document.getElementById("answer-box").innerHTML = ""
            // console.log(document.getElementById("filter-text-val").value)
            // let tempDiv = document.createElement("div")
            // tempDiv.innerHTML = answerBoxTemplate("HELLO", "HELLO", "HELLO")
            // document.getElementById("answer-box").appendChild(tempDiv)
            fetch("/episodes?" + new URLSearchParams({ title: document.getElementById("filter-text-val").value }).toString())
                .then((response) => response.json())
                .then((data) => {
                    console.log(data)
                    let tempDiv = document.createElement("div")
                    tempDiv.innerHTML = answerBoxTemplate(data["matches"][0], data["matches"][0], data["matches"][0])
                    document.getElementById("answer-box").appendChild(tempDiv)
                });
            // .then((data) => data.forEach(row => {

            //     let tempDiv = document.createElement("div")
            //     tempDiv.innerHTML = answerBoxTemplate(row[0], row[0], row[0])
            //     document.getElementById("answer-box").appendChild(tempDiv)
            // }));
        }

    </script>
</body>